@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.potion__image:hover {
  cursor: pointer;
  animation: rotation 0.1s ease-in-out 2 reverse;
}

.potion__image:active {
  transform: scale(0.8);
}